* {
    margin: 0;
    padding: 0;
    font-family: 'Popins', sans-serif;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #08001f, #30197d);
    position: relative;
}

.container {
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.clock {
    background: rgba(235, 0, 255, 0.11);
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    backdrop-filter: blur(40px);
    user-select: none;
    animation: incblur 15s infinite ease-in;
}

@keyframes incblur {

    0%,
    100% {
        backdrop-filter: blur(10px);
    }

    50% {
        backdrop-filter: blur(5px);
    }

}

.container::before {
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    animation: animate1 40s infinite backwards ease-in-out;
}

@keyframes animate1 {
    0% {
        transform: translate(-50%, -50%);
    }

    25% {
        transform: translate(390%, -50%);
    }

    50% {
        transform: translate(390%, 50%);
        border-radius: 50%;
    }

    75% {
        transform: translate(-50%, 50%);
        background: #419aff;
    }

    100% {
        transform: translate(-50%, -50%);
    }
}


.container::after {
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(50%, 50%);
    z-index: -1;
    animation: animate2 40s infinite backwards ease-in-out;

}


@keyframes animate2 {
    0% {
        transform: translate(50%, 50%);
    }

    25% {
        transform: translate(-390%, 50%);
    }

    50% {
        transform: translate(-390%, -50%);
        background: #f41b75;
    }

    75% {
        transform: translate(50%, -50%);
        border-radius: 5px;
    }

    100% {
        transform: translate(50%, 50%);
    }
}

.clock span {
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}

.clock span::after {
    font-size: 16px;
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after {
    content: 'HOURS';
}

#min::after {
    content: 'MINS';
}

#sec::after {
    content: 'SEC';
}